<table class="table table-striped">
  <thead>
    <th>Codigo </th>
    <th>Detalle </th>
    <th>Categoria </th>
    <th>Valor </th>
    <th>Descuento % </th>
    <th>IVA </th>
  </thead>
  <%= form_with model: @sale, local: true do |s| %>
  <tbody>
  <td><%= s.number_field :cod%></td>

  <td><%= s.text_area :detail %></td>

  <td><%= s.text_field :category%></td>

  <td><%= s.number_field :value%></td>

  <td><%= s.number_field :discount%></td>

  <td><%= s.check_box :tax%></td>

  </tbody>
</table>
<%= s.submit "Enviar" %>
<% end %>
